<h1>Reset password</h1>
<p>Please click the below reset button to reset your password</p>
<a href="http://localhost:5173/resetpassword/<%=token%>">
  <button>Reset</button>
</a>
<p>Thanks and regards, sarath</p>
