<h1>Reset password</h1>
<p>Please click the below reset button to reset your password</p>
<a href="https://shop4-u-delta.vercel.app/resetpassword/<%=token%>">
  <button>Reset</button>
</a>
<p>Thanks and regards, sarath</p>
