<h1>Account created successfully</h1>
<p>Hello <%= name %>, welcome to shop4U</p>
<a href="http://localhost:5000/api/verifyuser/<%= token %>">
  <button>verify your account</button>
</a>
<p>Thanks and regards, shop4U</p>
<p>copyrights @sarath</p>
